.top-reward-wrapper {
    display: flex;
    max-width:1100px;
    margin:0 auto;
}

.text-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.text-left h1 {
    font-weight: 600;
    font-size: 2.2rem;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.5;
    letter-spacing: -.01em;
}

.text-left h1 {
font-size: 2.2rem

}

.text-left span {
    margin:10px;
    border:1px solid black;
    border-radius: 50px;
    padding: 7px 16px;
    background-color: #2F7DE1;
    border-color: #2F7DE1;
    color:white;
    
}

.text-left span:hover {
    cursor: pointer;
}

.image-right {
    width:50%;
}

.getting-started {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.getting-started span {
    color: rgba(0,0,0,.87);
    
    letter-spacing: -.01em;
    font-weight: 600!important;
}

.many-options {
  display:flex;
  max-width: 1100px;
    margin: 0 auto;  
}

.first-options .numbers h1 {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 10px;
    background: #fff;
    border: 3px solid #000;
    color: #000;
    text-align: center;
    font: 32px Arial, sans-serif;
}
.second-options .numbers span {
    color: #183286;  
}
.third-options .numbers span {
    color: #183286;
}



.first-options {
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
align-items: center;
margin-left: 30px;
margin-top:20px;
}


.second-options {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-top:20px;
    }

    
.third-options {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-top:20px;
    }

.number h1 {
    padding: 8px 18px;
    border: 3px solid #1F35AF;
    border-radius: 50%;
}

.title h3 {
    font-weight: 600;
    font-size: 1.5rem;
    color: rgba(0,0,0,.87);
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.description span {
    text-align: center
}
   