body {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color:rgb(0, 0, 0,0.87 );

}



.header-container .logo img{
    width:100px;
    height: 120px;
}

.header-container {
display: flex;
    max-width: 1000px;
    margin: 0 auto;
    height:100%;
    background-color: greenyellow;
    
}

.menu nav ul {
    display: flex;
    list-style-type: none;
    align-items: center; 
    margin:0px;
    padding:0px;

    }

.menu nav ul li{
text-transform: uppercase;

padding-left: 24px; 
font-weight: 700;
letter-spacing: 0.1em;
}

.menu nav ul li:hover{
    color: #008248;
    cursor: pointer;
    }
    
.menu nav {
    display: flex; 
}

.header {
    height:101px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);

}
