body {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color:rgb(0, 0, 0,0.87 );

}



.header-container .logo img{
    width:90px;
    height: 105px;
}

.header-container {
display: flex;
    max-width: 960px;
    margin: 0 auto;
    height:100%;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
}

.menu nav ul {
    display: flex;
    list-style-type: none;
    align-items: center; 
    margin:0px;
    padding:0px;

    }

.menu nav ul li{
text-transform: uppercase;
display: flex; 
align-items: center; 
padding-left: 24px;
font-size: 13px; 
font-weight: 700;
/*letter-spacing: 0.1em;*/
/* last update */
}

.menu nav ul li:hover{
    color: #008248;
    cursor: pointer;
    }
    
.menu nav {
    display: flex; 
}

.menu {
    display: flex; 
}

.header {
    height:101px;
    

}

.right-nav {
    padding-left: 300px;
    border:5px;
    display: flex;
    align-items: center;

}

.right-nav .find-store span:hover {
    color: #008248;
    cursor: pointer;
    font-size: 13px; 
}

.right-nav .find-store  span {
    font-size: 13px; 
    font-weight: 700;
    padding-right: 18px;
}

.right-nav .sign-in span:hover {
    color: #008248;
    cursor: pointer;
    font-size: 13px; 
}

.right-nav .sign-in  span {
    font-size: 13px; 
    font-weight: 700;
    padding-top: 8px;
    display: flex;
    padding-right: 18px;
}

.right-nav .join-now span:hover {
    color: #008248;
    cursor: pointer;
    font-size: 13px; 
}

.right-nav .join-now  span {
    font-size: 13px; 
    font-weight: 700;
    display: flex;
    padding-right: 18px;
    padding-top: 8px;
}